@inherits LayoutComponentBase

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
</head>
<div class="page">
    <div class="main">
        <div class="upperMenu">
            <LoginDisplay />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<style>

    div.upperMenu {
        background-image: url(Images/UpperMenu.PNG);
        background-size: 100%;
        height: 150px;
        background-repeat: no-repeat;
        text-align: right;
    }

    button {
        border: none;
        border-radius: 50%;
        margin-top: 1%;
    }

    .comment {
        background-image: url(Images/CommentInactive.PNG);
        background-size: cover;
        width: 4%;
        height: 40%;
    }

        .comment:hover {
            background-image: url(Images/CommentActive.PNG);
            background-size: cover;
            width: 4%;
            height: 40%;
        }

    .basket {
        background-image: url(Images/BasketInactive.PNG);
        background-size: cover;
        width: 4%;
        height: 40%;
    }

        .basket:hover {
            background-image: url(Images/BasketActive.PNG);
            background-size: cover;
            width: 4%;
            height: 40%;
        }

    .user {
        background-image: url(Images/UserInactive.PNG);
        background-size: cover;
        width: 4%;
        height: 40%;
    }

        .user:hover {
            background-image: url(Images/UserActive.PNG);
            background-size: cover;
            width: 4%;
            height: 40%;
        }
</style>